@media screen and (max-device-width: 480px) {
  html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
  }
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;

  font: 400 100%/1.65 "Helvetica Neue", Helvetica, sans-serif;
  text-rendering: optimizeLegibility;

  color: white;

  overflow-x: hidden;
}

.is-up {
  background-color: #007954;
}

.is-down {
  background-color: #c00;
}

.wf-loading .webfont {
  visibility: hidden
}

.outer {
  display: table;
  margin: 0 auto;
  height: 100%;
}

.inner {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.sign {
  font-family: "gnuolane", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 3em;
  line-height: 1.125em;
  letter-spacing: 2px;
  text-transform: uppercase;
}

@media screen and (min-width: 481px) {
  .sign {
    font-size: 4em;
  }
}

.sign p {
  margin: 0;
}

.sign strong {
  position: relative;
  top: -0.25em;

  display: inline-block;

  min-width: 2.5em;
  padding: 0 0.25em;

  font-size: 0.625em;
  line-height: 1.25em;
  text-align: right;
  background-color: white;
  color: #222;
}

.message {
  display: inline-block;
  padding: 0 0.625em;
  margin-top: 2em;

  font-style: italic;
  text-transform: uppercase;

  border-radius: 4px;
  background-color: white;
}

.is-up .message {
  color: #007954;
}

.is-down .message {
  color: #c00;
}

.message p {
  margin: 0;
}
